<h1>New team selection</h1>

<%= form_with scope: :selection, url: selections_path, local: true do |form| %>

  <div class="field">
    <%= form.check_box :jakob, {}, true, false %>
    <%= form.label :jakob %>
  </div>

  <div class="field">
    <%= form.check_box :florian, {}, true, false %>
    <%= form.label :florian %>
  </div>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', selections_path %>
